$color-primary: #1abc9c;

// reset
html, body {
    background: #eee;
    padding: 0;
    margin: 0;
    width: 100%;
    width: 100vw;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0;
}

#root, #root > div {
    width: 100%;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div {
    // background: rgba(0,0,0,0.1);
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0 !important;
}

input[type="checkbox"]:focus{
    outline: 0 none;
    box-shadow: none;
}

// checklist
$vert_margin: 60px;
$hor_margin: auto;
.checklist {
    height: auto;
    width: 33%;
    width: 33vw;
    margin: $vert_margin $hor_margin;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .checklist__item {
        opacity: 0.6;
        transition: opacity .2s;
        &:hover {
            transition: opacity .2s;
            opacity: 1;
        }
    }
    &.mutable .checklist__item {
        transition: opacity .2s;
        opacity: 1;
    }

    h2 {
        align-self: flex-start;
        margin: 0 auto 50px;
    }
    ul {
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    .checklist {
        $hor_margin: 4px;
        width: calc(100% - (#{$hor_margin} * 2));
        margin: $vert_margin $hor_margin;
    }
}

.checklist__item {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    div.icon {
        margin: auto 10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;
        
        .custom-checkbox, .add-icon {
            cursor: pointer;
        }
        label {
            padding: 0;
            margin: 0;
            width: 50%;
        }
        span.icon {
            opacity: 0.8;
            transition: all .2s;
            cursor: pointer;
            &:hover {
                opacity: 1;
                transition: all .2s;
                color: $color-primary;
            }
        }
    }
    
    .textfield {
        padding: 5px 0px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        text-align: left;
        font-size: 1.4em;
        font-weight: 600;
        // background: #eee;
        border: none;
    }
}
